body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0d2134;
  color: #FFFFFF;
}

h1 {
  font-style: italic;
  padding: 0 1.5em;
}

.fnt-orange {
  color: #c84229;
}

.fnt-default {
  font-size: 1rem;
}

.button {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #0d2134;
  border: 1.7px solid;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-style: italic;
  font-weight: bold;
}

.error {
  color: #c84229;
}

.loading,
.error,
.no-items {
  text-align: center;
  padding: 2rem;
  font-style: italic;
}

.leaflet-container {
  height: 30em;
  width: 100%;
  margin: 0 1rem 1rem;
  border-radius: 0.25rem;
}
